<div class="container">
    <header>
        <button class="back-button" (click)="onBack()">
            <mat-icon id="icon">arrow_back</mat-icon>
            <!-- <img src="assets/arrow-right.png" class="back-icon"/> -->
        </button>

        <!-- go to profile page! -->
        <button class="icon-container">
            <mat-icon id="icon">person_outline</mat-icon>
        </button>
    </header>
    <main>
        <h1>{{this.mime?.title || 'Creating Mime...'}}</h1>
        <h3>yours truly, {{this.mime?.hosts?.[0]?.description || 'Processing...'}}</h3>

        <div *ngIf="!mime?.videoUrl" class="status-card">
            <h4>Status: {{mime?.status}}</h4>
        </div>

        <div *ngIf="mime?.videoUrl; else loadingTemplate">
            <video controls>
                <source src={{this.mime?.videoUrl}} type="video/mp4">
                <!-- <source src="https://storage.cloud.google.com/background-vids/1732163392.034945/final_video.mp4?authuser=1" type="video/webm"> -->
                Your browser does not support the video tag.
            </video>
        </div>
        
        <ng-template #loadingTemplate>
            <!-- Spinner -->
            <div class="spinner-container">
                <mat-spinner diameter="50"></mat-spinner>
                <p>Creating your mime, please wait...</p>
            </div>
        </ng-template>

        <div class="feedback">
            <input type="text" placeholder="any feedback??" class="rounded-input" [(ngModel)]="feedbackText"/>
            <button class="enter-button" (click)="onClickFeedback()">
                <mat-icon class="enter-icon">turn_right</mat-icon>
                <!-- <img src="assets/enter.png" class="enter-icon"/> -->
            </button>
            <button class="like-button"
            [ngClass]="{'liked-border': liked}" 
                (click)="onLike()" 
                >
                <mat-icon class="icon">thumb_up</mat-icon>
                <!-- <img src="assets/thumbs-up.png" class="icon"/> -->
            </button>
            <button class="dislike-button"
            [ngClass]="{'disliked-border': disliked}" 
                (click)="onDislike()" 
                >
                <mat-icon class="dislike-icon">thumb_down</mat-icon>
                <!-- <img src="assets/thumbs-down.png" class="dislike-icon"/> -->
            </button>
        </div>
        
    </main>
</div>
