<div class="container">
    <main>
      <ng-container *ngIf="(user$ | async) as user; else signInButton">
        <button class="icon-container">
          <img [src]="user.photoURL" alt="Profile" (click)="toggleLogout()">
        </button>

        <div *ngIf="logoutConfirm" class="modal-overlay"></div>

        <div *ngIf="logoutConfirm" class="confirmation-dialog">
          <p>Are you sure you want to log out?</p>
          <button (click)="signOut()">Yes</button>
          <button (click)="cancelSignOut()">No</button>
        </div>
      </ng-container>
      <ng-template #signInButton>
        <button class="icon-container">
          <mat-icon (click)="onPersonClick()">person_outline</mat-icon>
        </button>
      </ng-template>
      <div class="hero">
        <h1>
          <span class="orange-text"> you </span> mime. <span class="orange-text"> i </span> mime.
        </h1>
      </div>
      <div class="input-container-topic">
        <input type="text" placeholder="What would you like to mime about?" class="rounded-input" [(ngModel)]="mimePrompt"/>
        <button class="search-button">
          <img src="assets/search-icon.png" class="search-icon"/>
        </button>
      </div>
      <p id="footnote"> Note: Our service will perform better with more context. </p>
      <div class="host-select" *ngIf="mimePrompt">
        <div class="subtitle-with-logo">
          <img src="assets/mic.png" class="mic-icon">
          <h2> choose your host</h2>
        </div>
        <p id="info"> Want to see our mime hosts?  Check out our
          <a (click)="onHostDirectoryClick()" id="host_directory"> host directory </a>  here! </p>
        <div class="input-container-host">
          <select id="input-host" [(ngModel)]="selectedHost">
            <option value="" disabled selected>select your narrator</option>
            <option *ngFor="let host of hosts" [value]="host"> {{ host }}</option>
          </select>
          <button (click)="onLetsMimeClick()"> let's mime </button>
        </div>
      </div>
    </main>
    <div class="right-section">
      <div class="divider"></div>
      <div class="past-mimes">
        <h2>past mimes:</h2>
        <p *ngIf="!mimes || mimes.length === 0">No mimes to display.</p>
        <app-mime-card *ngFor="let mime of mimes" [title]="mime.title" [host]="mime.hID"></app-mime-card>
<!-- No need for new mime button since it is on the home page and can mislead users. -->
        <!-- <app-mime-new /> -->
      </div>
    </div>
  </div>