@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

/* home.component.css */
html, body {
    margin:0;
    padding: 0;
    background-color: #FDF8F7;
    width:100%;
    height: 100%;
}

.container {
    display: flex;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

main {
    flex-grow:1.2;
    padding-left: 4%;
    position: relative;
}

.icon-container {
    position: absolute;
    top: 2%; /* Adjust as needed */
    right: 1.2%; /* Adjust as needed */
    background: transparent;
    border: none;
    cursor: pointer;
}

.icon-container img {
    width: 2.2rem;
    height: 2.2rem;
    object-fit: cover;
    border-radius: 50%;
}

mat-icon {
    width: 2.2rem;
    height:2.2rem;
    font-size: 2.2rem;
    transition: color 0.5s ease-in-out;
}

mat-icon:hover {
    color:#995A10;
}

.hero {
    padding-top: 10%;
    padding-left: 0.25%;
}

h1 {
    font-family: 'Readex Pro Bold';
    font-weight: bolder;
    font-size: 3.75rem;
}

.orange-text {
    color: #FFA800;
}

.input-container-topic {
    margin-top: -3%;
    align-items: center;
    display: flex;
    width: 100%;
    height: 10%;
    margin-right: 20%;
}

.rounded-input {
    width: 70%;
    padding: 1.5%;
    border-radius: 52px;
    border: 4px solid #995A10;
    font-family: 'Readex Pro Normal';
    font-size: 16px;
    color: #000;
    background-color: #F1E8DD;
    padding-right: 2%;
    transition: background-color 0.5s ease-in-out; 
}

.rounded-input:focus, .rounded-input:hover {
    background-color: #fff; 
}

.search-button {
    background-color: transparent;
    border: none;
    margin-left: -5%;
    cursor: pointer;
}

.search-icon {
    width: 1.5rem;
    height: 1.5rem;
    align-content: end;
}

.right-section {
    flex:1;
    background-color: #FFBA68;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.divider {
    height: 100%;
    width: 0.25rem;
    background-color: #995A10;
}

.past-mimes {
    width: 100%;
    padding: 5%;
    padding-top: 10%;
}

.past-mimes h2 {
    font-family: 'Readex Pro Bold';
    font-size: 1.75rem;
    color: #000;
    margin-bottom: 20px;
}

.mime-card {
    background-color: #000;
    color: #fff;
    padding: 10% 5% 5% 5%;
    border-radius: 19px;
    margin-bottom: 5%;
    box-shadow: #FDF8F7 0px 0px 10px;
}

.mime-card h3 {
    margin: 0;
    font-size: 1.1rem;
    font-family: 'Inter Regular';
    font-weight: 200;
    padding-bottom: 4%;
}

.mime-card p {
    margin: 0;
    font-size: 0.9rem;
    color: #FFF;
    font-family: 'Inter Regular';
    font-style: italic;
    font-weight: 200;
}

.new-mime-button {
    background-color: #995A10;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
}

b {
    font-weight: 500;
}

#footnote {
    font-family: 'Inter Regular';
    color: #858585;
    font-style: italic;
    font-size: 0.85rem;
    padding-left: 1.5%;
}

.host-select {
    margin-top: -1%;
    width: 100%;
}

.subtitle-with-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    gap: 1%;
}

.mic-icon {
    width: 2.25rem;
    height: 2.25rem;
    object-fit: cover;
    margin-top: 0;
    justify-content: center;
}   

h2 {
    font-family: 'Readex Pro Bold';
    font-weight: bolder;
    font-size: 2.5rem;
}

#info {
    color: #C45691;
    font-family: 'Inter Regular';
    font-style: italic;
    padding-left: 4.5%;
    margin-top: -2%;
    font-size: 14px;

}

.input-container-host {
    align-items: center;
    display: flex;
    margin-right: 40%;
    margin-left: 3%;
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
    flex-direction: row;
    justify-content: flex-start;
    gap: 3%;
}

#input-host {
    padding: 2%;
    width: 75%;
    align-self: flex-start;
    margin-left: 2%;
    border-radius: 50px;
    border: 3px solid #995A10;
    font-family: 'Readex Pro Normal';
    font-size: 16px;
    color: #6a6864;
    background-color: #F1E8DD;
    transition: background-color 0.5s ease-in-out; 
}

#input-host:focus, #input-host:hover {
    background-color: #FFF; 
}

#input-host option {
    padding-left: 2%;
    padding-right: 2%;
}

.input-container-host button {
    background-color: #995A10;
    color: #FFF;
    border: none;
    border-radius: 50px;
    padding: 0.75rem 1.5rem;  /* Adjusted padding for more space */
    font-family: 'Readex Pro Bold';
    font-size: 1rem;
    cursor: pointer;
    align-self: center;
    white-space: nowrap;  
    padding-top: 3%;
    padding-bottom: 3%;
    transition: background-color 0.3s ease-in-out, transform 0.2s ease;
}

.input-container-host button:hover {
    background-color: #FFA800;
    transform: scale(1.05);
    transition: background-color 0.3s ease-in-out, transform 0.2s ease;
}


#host_directory {

    text-decoration: underline;
    cursor: pointer;
    font-weight: bold;
}


.logout-container {
    margin-top: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px 10px;
    position: absolute;
    z-index: 1001;
  }
  
  /* Confirmation pop-up */
  .confirmation-dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
    z-index: 1002;
  }
  
  .confirmation-dialog p {
    font-family: 'Readex Pro Normal';
    font-size: 1.2rem;
    margin-bottom: 20px;
  }
  
  .confirmation-dialog button {
    margin: 0 10px;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Inter Regular';
  }
  

  
  .confirmation-dialog button:last-child {
    background-color: #FFA800; /* Blue for "No" button */
    color: white;
  }
  
  .confirmation-dialog button:hover {
    opacity: 0.9;
  }

  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000; 
    pointer-events: auto; 
  }