@font-face {
    font-family: 'Readex Pro Normal';
    src: url(assets/readex-pro-latin-400-normal.ttf);
}

@font-face {
    font-family: 'Readex Pro Bold';
    src: url(assets/readex-pro-latin-700-normal.ttf);
}

@font-face {
    font-family: 'Inter Regular';
    src: url(assets/Inter-VariableFont_opsz\,wght.ttf);
}

@font-face {
    font-family: 'Inter Italic';
    src: url(assets/Inter-Italic-VariableFont_opsz\,wght.ttf);
}

html {
    background-color: #FDF8F7;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
